.full-height { min-height: 80vh; }

button {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

.fa-shadow { filter: drop-shadow(0px 0px 10px rgba(158, 158, 158, 0.5));}

.vote-button {background-color:rgba(59, 107, 71, 0.75); border: none;}
.vote-button:hover {background-color: rgba(32, 63, 40, 0.75);}